
/* CHEDDAR TOWN */

#cheddartown-body {
    margin: auto;
}

#cheddartown-container {
   
    margin: auto;
    position: relative;
    width: 1280px;
    height: 720px;
  
   


}

#cheddartown-background{

    width: 1280px;
    height: 720px;
    
}

#cheddartown-controlpanel{
    width: 1280px;
    bottom: -850px;

}

#cheddartown-container * {
    position: absolute;
}


#snow-mobile {

height: 100px;

width:100px;
left:0;
bottom:-635px;

animation-name: move;
animation-duration: 3s;
animation-delay: 1s;


}

@keyframes move {
0% {left:0;}

25% {left:200px;}
50% {transform:rotate(20deg); left:250px;}


}
#sledge {

 height:100px;
 width:100px;
 right: 0px;
bottom:230px;

transform: rotate(-20deg);
}

#snow-man {

height: 100px;
weight: 100px;
right: 0px; 

}