
/* CHEDDAR TOWN */

#cheddartown-body {
    margin: auto;
}

#cheddartown-container {
   
    margin: auto;
    position: relative;
    width: 1280px;
    height: 720px;
overflow: hidden;



}

#cheddartown-background{
 
    
    width: 1280px;
    height: 720px;
    
}

#cheddartown-controlpanel{
    width: 1280px;
    bottom: -95px;
    z-index:10 ;

}

#cheddartown-container * {
    position: absolute;
}


#snow-mobile {

height: 100px;

width:100px;
left:-100px;
bottom:100px;

animation-name: moving-snowmobile;
animation-duration: 10s;
animation-delay: 1s;
animation-iteration-count: infinite;
animation-timing-function: linear;

}

@keyframes moving-snowmobile {
0% {left:-100;bottom: 100px;}
25% {bottom: 50px;}
50% {transform:rotate(20deg); left:900px; bottom:0px; }
75% {bottom:50px; }
100% {left:1380px;bottom:100px; transform:rotate(-30deg);  }
} 

#sledge {

 height:100px;
 width:100px;
 right: 0px;
bottom:90px;




animation-name: moving-sledge;
animation-duration: 10s;
animation-delay: 1s;
animation-iteration-count: infinite;
animation-timing-function: linear;

}

@keyframes moving-sledge {
0%{right:0px;bottom:100px;}
25%{bottom:20px;}
50%{right:1000px; bottom:0px; transform:}
75%{bottom:20px; transform: rotate(50deg); }
100%{right: 1280px; bottom:100px; }

}

#snow-man {

height: 100px;
width: 100px;
right:200px; 
top:450px;
transition-property: all;
transition-duration: 3s;
transition-timing-function: linear;
transition-delay: 1s;

   z-index:10;
}

#snow-man:hover {
transform: rotate(90deg);


}
#create-snow{
    height: 10px;
    width: 100px;
    background-color:snow;
     border-radius: 40%;
    
    top:240px;
    left: 450px;
    
    transform: rotate(-20deg);
    transition-property: all;
    transition-duration: 3s;
    transition-timing-function: linear;
    transition-delay: 1s;
    
    z-index: 10;
    }
   div  #create-snow:hover{
    top:200px;
 
    
    }
    #create-snow:hover #chesse{
display: block;
    }
 

#chesse {
height: 50px;;
width: 50px;
top: 0px;
left:50px;
display: none;
}


 .snow1 {
    background:url("../img/cheddar_town/blue-snow-falling-md.png");
   background-repeat:repeat; 
   width: 1280px;
   height: 720px; 
    position: absolute;
  animation: animate1 20s linear infinite ;
  z-index: 10;
 }
     
 
 /*
Uncommet me just for fun :)
 
.snow2 {
    background:url("../img/cheddar_town/blue-snow-falling-md.png");
   background-repeat:repeat; 
    width: 1280px;
    height: 720px; 
    position: absolute;
    animation: animate2 12s linear infinite 
    }
 .snow3 {
    background:url("../img/cheddar_town/blue-snow-falling-md.png");
   background-repeat:repeat; 
   width: 1280px;
   height: 7200px; 
    position: absolute;
    animation: animate3 12s linear infinite 
    }
 .snow4 {
    background:url("../img/cheddar_town/blue-snow-falling-md.png");
   background-repeat:repeat; 
   width: 1280px;
   height: 7200px; 
    position: absolute;
    animation: animate4 12s linear infinite 
    }
    */
  
    @keyframes animate1 {
    0%{
        background-position: 0px 0px;

    }

    100% {
        background-position: 100px 64px;

    }
  
    }
    @keyframes animate2 {
    0%{
        background-position: 0px -100px;

    }

    100% {
        background-position:  200px 64px;

    }
  
    }
    @keyframes animate3 {
    0%{
        background-position:0px 100px;

    }

    100% {
        background-position: 300px  64px;

    }
  
    }
    @keyframes animate4 {
    0%{
        background-position: 0px 140px;

    }

    100% {
        background-position: 350px 649px;

    }
  
    }


/*

ide 2
.snow-fall{
    z-index: 10;
    border-radius: 50%;
    background-color:red;
    animation: snow-falling 5s linear 0s infinite;
    
    height:15px; 
width: 15px; 

}   

@keyframes snow-falling {
 0%{top:0;}
 100%{top:1280px;}

}

#snow1{
left:200px;
top:20px;

}

#snow2{
top:20px;

left:100px;
}

#snow3{

    top:20px;
left:400px

}

#snow4{
    top:20px;

left:800px

}

#snow5{
    top:20px;

left:1000px;

}

#snow6{
    top:20px;


lefT:750px;
}

#snow7{
    top:20px;

left:650px;
}

#snow8{
    top:20px;

left:950px

}

#snow9{
    top:20px;
left:850px;

}

#snow10{
    top:20px;

left:1200px;

}
#snow11{
    left:150px;
    
    
    }
    
    #snow12{
    
    
    left:250px;
    }
    
    #snow13{
    
    
    left:450px
    
    }
    
    #snow14{
    
    
    left:850px
    
    }
    
    #snow15{
    
    
    left:950px;
    
    }
    
    #snow16{
    
    
    
    lefT:750px;
    }
    
    #snow17{
    
    
    left:650px;
    }
    
    #snow18{
    
    
    left:970px
    
    }
    
    #snow19{
    
    left:880px;
    
    }
    
    #snow20{
    
    
    left:1200px;
    
    }
    #snow21{
        left:6540px;
        
        
        }
        
        #snow22{
        
        
        left:3420px;
        }
        
        #snow23{
        
        
        left:412px
        
        }
        
        #snow24{
        
        
        left:999px
        
        }
        
        #snow25{
        
        
        left:345px;
        
        }
        
        #snow26{
        
        
        
        lefT:125px;
        }
        
        #snow27{
        
        
        left:765px;
        }
        
        #snow28{
        
        
        left:988px
        
        }
        
        #snow29{
        
        left:0px;
        
        }
        
        #snow30{
        
        
        left:1200px;
        
        }

     */   