
/* CHEDDAR TOWN */

#cheddartown-body {
    margin: auto;
}

#cheddartown-container {
   
    margin: auto;
    position: relative;
    width: 1280px;
    height: 720px;
overflow: hidden;


}

#cheddartown-background{

    width: 1280px;
    height: 720px;
    
}

#cheddartown-controlpanel{
    width: 1280px;
    bottom: -95px;
    z-index:10 ;

}

#cheddartown-container * {
    position: absolute;
}


#snow-mobile {

height: 100px;

width:100px;
left:-100px;
bottom:100px;

animation-name: moving-snowmobile;
animation-duration: 10s;
animation-delay: 1s;
animation-iteration-count: infinite;
animation-timing-function: linear;

}

@keyframes moving-snowmobile {
0% {left:-100;bottom: 100px;}
25% {bottom: 50px;}
50% {transform:rotate(20deg); left:900px; bottom:0px; }
75% {bottom:50px; }
100% {left:1380px;bottom:100px; transform:rotate(-30deg);  }
} 

#sledge {

 height:100px;
 width:100px;
 right: 0px;
bottom:90px;


/*transform: rotate(10deg);*/

animation-name: moving-sledge;
animation-duration: 10s;
animation-delay: 1s;
animation-iteration-count: infinite;
animation-timing-function: linear;

}

@keyframes moving-sledge {
0%{right:0px;bottom:100px;}
25%{bottom:50px;}
50%{right:1000px; bottom:0px;}
75%{bottom:50px}
100%{right: 5000px; bottom:100px; }

}

#snow-man {

height: 100px;
width: 100px;
right:200px; 
top:450px;
transition-property: all;
transition-duration: 3s;
transition-timing-function: linear;
transition-delay: 1s;

   z-index:10;
}

#snow-man:hover {
transform: rotate(90deg);


}
