
/* ===============================================================
Static
===============================================================
*/

/* Static: Natives
-------------------------------*/
body {
	margin: auto;
}

p,
span,
input {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

/* Static: Container
-------------------------------*/
.bluecheesecity-container {
    margin: auto;
    width: 1280px;
    height: 720px;
    position: relative;
    overflow: hidden;
}

.bluecheesecity-container * {
    position: absolute;
}


/* Static: Container
-------------------------------*/
.cheddartown-container {
  margin: auto;
  width: 1280px;
  height: 720px;
  position: relative;
  overflow: hidden;
}

.cheddartown-container *{
  position: absolute;
}

/* Static: background
-------------------------------*/
#cheddartown-background {
  width: 1280px;
  height: 720px;
  bottom: 150px;
}


/* Static: fonts
-------------------------------*/
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}

/* ===============================================================
NAVIGATION
===============================================================
*/

/* Navigation: Container
-------------------------------*/
.cheddartown-nav-container {
  width: 100%;
  height: 8%;
  background-color: #413746;
  color: #fff;
  border-bottom: 1px solid #bbb;
}

/* Navigation: Buttons
-------------------------------*/
.cheddartown-nav-buttons {
    width: 17%;
    height: 98%;
    margin-top: 0;
    border-right: 1px solid #bbb;
    padding: 1px;
}

.cheddartown-nav-buttons input {
    margin-top: 8px;
    margin-left: 10px;
    font-size: 14px;
    padding: 0;
}

.cheddartown-nav-buttons input span {
    position: relative;
}

.cheddartown-nav-buttons #forward {
    top: 0px;
    left: 100px;
    height: 40px;
    width: 90px;
    background-color: #1bb776;
    border: 1px solid #138254;
    color: #fff;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.cheddartown-nav-buttons #forward:hover {
    background-color: #148b59;
    border-color: #138254;
}

.cheddartown-nav-buttons #backward {
    top: 0px;
    left: 10px;
    height: 40px;
    width: 90px;
    background-color: #1bb776;
    border: 1px solid #138254;
    color: #fff;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.cheddartown-nav-buttons #backward:hover {
    background-color: #148b59;
    border-color: #138254;
}

.cheddartown-nav-buttons button:not(:last-child) {
    border-right: 0;
}

/* Navigation: Progress
-------------------------------*/

.cheddartown-nav-progress {
  width: auto;
  height: 112%;
  margin-left: 77%;
  margin-top: 0;
  border-left:1px solid #bbb;
  padding-left: 8px;
  margin-top: -7px;
}

.cheddartown-nav-progress img {
  width: 45px;
  margin: 12px;
  padding: 0;
  position: relative;
}

.cheddartown-nav-progress #cheeseWheel {
  width: 40px;
}

.cheddartown-nav-progress-notFound {
  opacity: 0.2;
}

.cheddartown-nav-progress span {
  font-size: 30px;
  margin-top: 11px;
  margin-left: -8px;
  padding: 0;
}

/* Navigation: Info block
-------------------------------*/

.cheddartown-nav-info {
  width: 57%;
  height: 65%;
  background-color: #FFA51E;
  border: 3px solid #2D2832;
  border-radius: 2px;
  margin-left: 18%;
  margin-top: 0;
  padding: 3px;
  margin-top: 4px;
}

.cheddartown-nav-info p {
  font-size: 12px;
  color: #2D2832;
  margin: 0;
}

#btnStart, #btnGetCheese {
  display: none; /* none */
}

#btnStart:checked ~ label > #img-snowMobile {
  animation:
  anim_snowMobile 10s linear 0.3s 1 forwards;
}

#btnGetCheese:checked ~ label > #img-cheese {
  animation: anim-cheese 2s linear 0s forwards;
}

#btnGetCheese:checked ~ label > #img-fullcheese {
  animation: cheddartown-animation-opacity 1s linear 2s forwards;
}

#btnGetCheese:checked ~ label > #cheddartown-element-arrow {
    animation-name: cheddartown-animation-upAndDown, cheddartown-animation-opacity;
    animation-duration: 3s, 10s;
    animation-iteration-count: 3, 2;
    animation-timing-function: ease-in-out, ease-out;
    animation-delay: 2s, 3s;
    animation-fill-mode: none, none;
}

/* ===============================================================
ELEMENTS
===============================================================
*/

/* Element: Snowmobile
-------------------------------*/

/* Element: Arrow
-------------------------------*/
#cheddartown-element-arrow {
    width: 40px;
    top: 60px;
    left: 130px;
    opacity: 0;
}


#img-cheese {
  z-index: 1;
  width: 45px;
  top: 390px;
  left:190px;
}

#img-snowMobile {
  top: 343px;
  left: 100px;
  width: 250px;
  z-index: 10;
}

#img-fullcheese {
  width: 40px;
  left: 1225px;
  top: 7px;
  opacity: 0;
}

/* Element: Snow
-------------------------------*/
#cheddartown-element-snow {
  background: url("../img/cheddar_town/falling_snow.png");
  background-repeat: repeat;
  width: 1280px;
  height: 720px;
  background-size: 50px;
  animation: cheddartown-animation-snow 15s linear infinite ;

 }

/* Element: Control panel
-------------------------------*/
#cheddartown-controlPanel {
    width: 1280px;
    bottom: 0px;
}


#sledge {

height:100px;
width:100px;
right: 0px;
bottom:235px;

animation-name: moving-sledge;
animation-duration: 10s;
animation-delay: 1s;
animation-iteration-count: infinite;
animation-timing-function: linear;

}

#snow-man {
height: 100px;
width: 100px;
right:200px;
top:300px;
transition-property: all;
transition-duration: 1.5s;
transition-timing-function: ease-in;
transition-delay: 0.5s;
}

#snow-man:hover {
transform: rotate(90deg);
}


/* ===============================================================
Animations
===============================================================
*/

/* Animation: SnowMobile
-------------------------------*/
@keyframes anim_snowMobile {
  100% {
    left: 2500px;
  }
}

@keyframes anim-cheese {
  100% {
    top: 12px;
    left: 1154px;
  }
}

@keyframes cheddartown-animation-opacity {
  100% {
    opacity: 1;
  }
}

@keyframes cheddartown-animation-snow {
    0%{
        background-position: 0px 0px;
    }
    100% {
        background-position: 100px 64px;
    }
}

/* Animation: Up and down
-------------------------------*/
@keyframes cheddartown-animation-upAndDown {
    0% {
        top: 60px;
    }
    50% {
        top: 80px;
    }
    100% {
        top: 60px;
    }
}


@keyframes moving-sledge {
0%{right:0px;bottom:235px;}
25%{bottom:1280px;}
50%{right:900px; bottom:220px; transform: rotate(30deg)}

100%{right: 1280px; bottom:500px; }
}



     
