/* ===============================================================
Static
===============================================================
*/


/* Static: Natives
-------------------------------*/
body {
    margin: auto;
}

p,
span,
input {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

/* Static: Container
-------------------------------*/
.container {
    margin: auto;
    width: 1280px;
    height: 720px;
    position: relative;
    overflow: hidden;
}

.container * {
    position: absolute;
}

#main-container {
    background-image: url("../img/main/main.png");
    background-size: cover;
    margin: auto;
    width: 1280px;
    height: 720px;
}


/* Static: background
-------------------------------*/
#bluecheesecity-background {
    width: 1280px;
    height: 720px;
}

#parmaville-background {
    width: 1280px;
    height: 720px;
}

#parmaville-controlpanel {
    width: 1280px;
    top: 100px;
    left: 0;
}

#parmaville-stoneWell {
    width: 80px;
    bottom: 122px;
    left: 220px;
    z-index: 2;
}

#main-background {
    width: 1280px;
    height: 720px;
}

#mugg-background {
    width: 1280px;
    height: 720px;
    opacity: 0;
    animation: fade-opacity 8s linear 0s forwards;
}

.main-danger-button {
    transform: scale(0.6) translateX(350%) translateY(200%);
}

.main-play-again {
    font-size: 64px;
    width: 500px;
    color: whitesmoke;
    top: 250px;
    left: 170px;
    opacity: 0;
    animation: fade-opacity 3s linear 12s forwards;
}

/* Static: cities
-------------------------------*/
.bluecheesecity-sign {
    transform: scale(0.7) translateX(405%) translateY(179%) rotate(20deg);
}

.goudavalley-sign {

    transform: scale(0.7) translateX(575%) translateY(170%) rotate(-10deg);
}

.cheddartown-sign {
    transform: scale(0.7) translateX(680%) translateY(315%) rotate(10deg);
}

.parmaville-sign {
    transform: scale(0.7) translateX(550%) translateY(-10%) rotate(-15deg);
    z-index: 1;
}

.bluecheesecity-sign,
.goudavalley-sign,
.cheddartown-sign,
.parmaville-sign {
    opacity: 0.3;
    width: 200px;
    height: 200px;
    position: fixed;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    background-color: transparent;
}

.bluecheesecity-sign-link {
    transform: scale(0.7) translateX(405%) translateY(179%) rotate(20deg);
    animation: sign-link-visible 1s linear 3s forwards;
}

.goudavalley-sign-link {
    transform: scale(0.7) translateX(575%) translateY(170%) rotate(-10deg);
    animation: sign-link-visible 1s linear 3s forwards;
}

.cheddartown-sign-link {
    transform: scale(0.7) translateX(680%) translateY(315%) rotate(10deg);
    animation: sign-link-visible 1s linear 3s forwards;
}

.parmaville-sign-link {
    transform: scale(0.7) translateX(550%) translateY(-10%) rotate(-15deg);
    z-index: 2;
}

.bluecheesecity-sign-link,
.goudavalley-sign-link,
.cheddartown-sign-link,
.parmaville-sign-link {
    width: 200px;
    height: 200px;
    position: fixed;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    visibility: hidden;
    opacity: 0;
}

/* ===============================================================
NAVIGATION
===============================================================
*/


/* Navigation: Container
-------------------------------*/
.nav-container {
    width: 100%;
    height: 8%;
    background-color: #413746;
    color: #fff;
    border-bottom: 1px solid #bbb;
}


/* Navigation: Buttons
-------------------------------*/
.nav-buttons {
    width: 17%;
    height: 98%;
    margin-top: 0;
    border-right: 1px solid #bbb;
    padding: 1px;
}

.nav-buttons input {
    margin-top: 8px;
    margin-left: 10px;
    font-size: 14px;
    padding: 0;
}

.nav-buttons input span {
    position: relative;
}

.nav-buttons #forward {
    top: -1px;
    left: 99px;
    height: 40px;
    width: 90px;
    background-color: #1bb776;
    border: 1px solid #138254;
    color: #fff;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.nav-buttons #forward:hover {
    background-color: #148b59;
    border-color: #138254;
}

.nav-buttons #backward {
    top: -1px;
    left: 10px;
    height: 40px;
    width: 90px;
    background-color: #1bb776;
    border: 1px solid #138254;
    color: #fff;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.nav-buttons #backward:hover {
    background-color: #148b59;
    border-color: #138254;
}

.nav-buttons button:not(:last-child) {
    border-right: 0;
}

/* Navigation: Progress
-------------------------------*/
.nav-progress {
    width: auto;
    height: 112%;
    margin-left: 77%;
    margin-top: 0;
    border-left: 1px solid #bbb;
    padding-left: 8px;
    margin-top: -7px;
}

.nav-progress img {
    width: 45px;
    margin: 12px;
    padding: 0;
    position: relative;
}

.nav-progress #cheeseWheel {
    width: 40px;
}

.nav-progress-notFound {
    opacity: 0.2;
}

.nav-progress span {
    font-size: 30px;
    margin-top: 11px;
    margin-left: -8px;
    padding: 0;
}


/* Navigation: Info block
-------------------------------*/
.nav-info {
    width: 57%;
    height: 65%;
    background-color: #FFA51E;
    border: 3px solid #2D2832;
    border-radius: 2px;
    margin-left: 18%;
    margin-top: 0;
    padding: 3px;
    margin-top: 4px;
}

.nav-info p {
    font-size: 12px;
    color: #2D2832;
    margin: 0;
}

/* Navigation: main-specific
-------------------------------*/
.main-nav-progress {
    width: auto;
    height: 112%;
    margin-left: 77%;
    margin-top: 0;
    border-left: 1px solid #bbb;
    padding-left: 8px;
    margin-top: -7px;
}

.main-nav-progress img {
    width: 45px;
    margin: 12px;
    padding: 0;
    position: relative;
}

.main-nav-progress #cheeseWheel {
    width: 40px;
}

.main-nav-progress-notFound {
    opacity: 0.2;
}

.main-nav-progress-Found {
    opacity: 1.0;
}

.main-nav-progress span {
    font-size: 30px;
    margin-top: 11px;
    margin-left: -8px;
    padding: 0;
}

.main-nav-info {
    width: 74%;
    height: 65%;
    background-color: #FFA51E;
    border: 3px solid #2D2832;
    border-radius: 2px;
    margin-left: 10px;
    margin-top: 0;
    padding: 3px;
    margin-top: 4px;
}

.main-nav-info p {
    font-size: 12px;
    color: #2D2832;
    margin: 0;
}

/* ===============================================================
ELEMENTS
===============================================================
*/

/* Element: Main
-------------------------------*/
#btnStart {
    display: none;
}

#btnStart:checked ~ label .textbubble {
    animation: anim-bubble-out 1s ease-out 0s 1 none
}

#btnStart:checked ~ label .metro-style {
    animation: anim-shake 0.25s ease-in 0s 16 none,
               anim-shrink 1s linear 4s 1 forwards,
               main-animation-metro-first 6s ease-in 5s 1 forwards;
}

#btnStart:checked ~ label .parmaville-sign {
    opacity: 1;
}

#btnStart:checked ~ label .parmaville-sign-link {
    animation: sign-link-visible 1s linear 11s infinite;
}

#img-metro {
    width: 400px;
}

#img-mouse {
    width: 120px;
    left: 120px;
    bottom: -45px;
}

#metro-first {
    left: 170px;
    top: 440px;
    position: relative;
}

#metro-second {
    left: 870px;
    top: 170px;
    transform: scale(0.35);
    position: relative;
    animation: main-animation-metro-second 6s ease-in 1s 1 forwards;
}

#metro-third {
    left: 620px;
    top: 430px;
    transform: scale(0.35);
    position: relative;
    animation: main-animation-metro-third 6s ease-in 1s 1 forwards;
}

#metro-fourth {
    left: 820px;
    top: 430px;
    transform: scale(0.35);
    position: relative;
    animation: main-animation-metro-fourth 6s ease-in 1s 1 forwards;
}

#metro-last {
    left: -200px;
    top: 440px;
    transform: scale(0.35);
    position: relative;
    animation: main-animation-metro-last 10s ease-in 1s 1 forwards;
}

/* Element: Sherrif
-------------------------------*/
#parmaville-sheriff1 {
    width: 150px;
    bottom: 100px;
    right: 200px;
}

#parmaville-sheriff1:hover {
    animation: parmaville-animation-sheriff1Moves 2s linear 0s infinite;
}

#parmaville-sheriff1:hover ~ #parmaville-textbubble-sheriff1 {
    opacity: 1;
    transition: all 0.5s linear 0s;
}

#parmaville-sheriff1:hover ~ #parmaville-textbubble-mouse {
    opacity: 1;
    transition: all 0.5s linear 2s;
}

#parmaville-sheriff2 {
    width: 150px;
    bottom: 100px;
    left: 300px;
    z-index: 2;
}

#parmaville-textbubble-sheriff2 {
    height: 60px;
    bottom: 220px;
    left: 340px;
}

#parmaville-sheriff2:hover {
    animation: parmaville-animation-sheriff2Moves 2s linear 0s infinite;
}

#parmaville-sheriff2:hover ~ #parmaville-textbubble-sheriff2 {
    opacity: 1;
    transition: all 0.5s linear 0s;
}

/* Element: Horse
-------------------------------*/
#parmaville-horse {
    width: 150px;
    top: 445px;
    left: 600px;
}

#parmaville-horse:hover ~ #parmaville-textbubble-horse{
    opacity: 1;
    transition: all 0.5s linear 0s;
}

#parmaville-horse-click {
    opacity: 0;
}

#parmaville-horse-click:checked ~ .parmaville-label-horse #parmaville-horse {
    animation: parmaville-animation-horseMoves 5s linear 0s forwards;
}

#parmaville-horse-click:checked ~ .parmaville-label-horse #parmaville-textbubble-horse {
    opacity: 0;
    transition: all 0s linear 0s;
}

/* Element: Vulture
-------------------------------*/
#parmaville-vulture {
    width: 100px;
    top: 50px;
    left: 100px;
    animation: parmaville-animation-vultureMoves 10s linear 0s infinite;
}

/* Element: Treasure chest
-------------------------------*/
#parmaville-chest {
    width: 100px;
    height: 100px;
    bottom: 212px;
    right: 400px;
}

#parmaville-chest-top {
    width: 100px;
    bottom: 30px;
    transition: bottom 1s linear 0s;
}

#parmaville-chest-bottom {
    width: 100px;
    bottom: 0px;
}

#parmaville-chest:hover #parmaville-chest-top {
    bottom: 55px;
}

#parmaville-textbubble-hidden-cheese {
    height: 55px;
    bottom: 20px;
    left: 110px;
}

#parmaville-chest:hover #parmaville-textbubble-hidden-cheese {
    opacity: 1;
    transition: all 0.5s linear 1s;
}

#parmaville-hidden-cheese {
    width: 30px;
    bottom: -68px;
    left: 35px;
    opacity: 1;
}

#parmaville-cheese-found {
    opacity: 0;
}

#parmaville-cheese-found:checked ~ .parmaville-label-cheese #parmaville-hidden-cheese {
    animation: parmaville-animation-cheeseMoves 2s linear 0s forwards;
    z-index: 10;
}

#parmaville-proceed-arrow {
    top: -340px;
    left: -640px;
    opacity: 0;
}

#parmaville-cheese-found:checked ~ #parmaville-proceed-arrow {
    animation: arrowUpAndDown 1s ease-in-out 3s infinite;
}

/* Element: Pigeon
-------------------------------*/
#bluecheesecity-element-pigeon {
    width: 50px;
    left: 190px;
    top: 165px;
}

#bluecheesecity-element-pigeon:hover {
    animation: bluecheesecity-animation-pigeon 5s ease-in-out;
}

#bluecheesecity-element-pigeon:hover+#bluecheesecity-speech-pigeonSequence-mouse {
    animation: animation-hide-speech 6s ease-in-out 0s 1 forwards;
}

/* Element: Car
-------------------------------*/
.bluecheesecity-carSequence-hidden {
    display: none;
}

#bluecheesecity-element-car {
    width: 250px;
    left: 150px;
    top: 405px
}

#bluecheesecity-element-car:hover {
    animation: bluecheesecity-animation-car 10s ease-in-out;
}

#bluecheesecity-element-car:hover~#bluecheesecity-speech-carSequence-car {
    animation: animation-hide-speech 6s ease-in-out 0s 1 forwards;
}

#bluecheesecity-element-car:hover~#bluecheesecity-speech-carSequence-mouse {
    animation: animation-hide-speech 6s ease-in-out 0s 1 forwards;
}


/* Element: Garbage
-------------------------------*/
#bluecheesecity-element-garbageBin {
    width: 75px;
    left: 970px;
    top: 440px
}

#bluecheesecity-element-garbageBin:hover~#bluecheesecity-speech-garbageSequence-cat {
    animation: animation-hide-speech 6s ease-in-out 0s 1 forwards;
}

#bluecheesecity-element-garbageBin:hover~#bluecheesecity-speech-garbageSequence-mouse {
    animation: animation-hide-speech 6s ease-in-out 0s 1 forwards;
}

#bluecheesecity-element-garbageBin:hover~.bluecheesecity-carSequence-hidden {
    display: block;
}


/* Element: Cat
-------------------------------*/
#bluecheesecity-element-cat {
    width: 70px;
    left: 930px;
    top: 430px;
}


/* Element: Rat Poison
-------------------------------*/
#bluecheesecity-element-ratPoison {
    width: 30px;
    left: 200px;
    top: 465px;
    transform: rotate(20deg);
}


/* Element: Arrow
-------------------------------*/
#bluecheesecity-element-arrow {
    width: 40px;
    top: 60px;
    left: 130px;
    animation: animation-upAndDown 3s infinite ease-in-out forwards;
}

/* ===============================================================
Speech
===============================================================
*/
.textbubble {
    animation: anim-bubble-in 1s ease-in 0s 1 forwards;

    transform: scale(0);
    opacity: 0;
    width: 370px;
    height: 220px;
    padding: 10px;
    position: absolute;
    bottom: 70px;
    left: -90px;

    background-color: #FFA51E;
    border: 3px solid #2D2832;
    color: #2D2832 font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    word-wrap: break-word;
    text-align: center;
}

.textbubble .direction {
    transform: scale(-1);
    width: 0;
    height: 0;
    bottom: -17px;
    position: absolute;
    right: 15px;
    margin-right: 130px;
    border: solid 20px rgba(255, 255, 255, 0);
    border-left-color: rgb(255, 165, 30);
}

.bluecheesecity-textbubble {
    padding: 5px;
    padding-bottom: 15px;
    opacity: 0;
    background-color: #FFA51E;
    border: 3px solid #2D2832;
    font-size: 16px;
    text-align: center;
}

.bluecheesecity-textbubble .bluecheesecity-direction {
    width: 0;
    height: 0;
    bottom: -17px;
    right: 25px;
    border: solid 20px rgba(255, 255, 255, 0);
    border-left-color: rgb(255, 165, 30);
}

.left {
    transform: scaleX(-1);
}

.parmaville-textbubble  {
    width: 150px;
    text-align: center;
    font-size: 12px;
    background-color: #FFA51E;
    border: 3px solid #2D2832;
    opacity: 0;
    z-index: 10;
}

.parmaville-textbubble p {
    z-index: 10;
}

.parmaville-speech-direction {
    width: 0;
    height: 0;
    bottom: -17px;
    right: 60px;
    border: solid 20px rgba(255, 255, 255, 0);
    border-left-color: rgb(255, 165, 30);
}

#parmaville-textbubble-sheriff1 {
    height: 70px;
    bottom: 220px;
    right: 230px;
}

#parmaville-textbubble-sheriff2 {
    height: 60px;
    bottom: 220px;
    left: 340px;
}

#parmaville-textbubble-mouse {
    height: 70px;
    bottom: 80px;
    right: 350px;
}

#parmaville-textbubble-horse {
    height: 60px;
    top: 370px;
    left: 510px;
}

#bluecheesecity-speech-pigeonSequence-mouse {
    width: 160px;
    height: 50px;
    top: 350px;
    left: 720px;
}

#bluecheesecity-speech-pigeonSequence-mouse .direction {
    margin-right: 100px;
}

#bluecheesecity-speech-carSequence-car {
    width: 165px;
    height: 60px;
    top: 330px;
    left: 50px;
}

#bluecheesecity-speech-carSequence-car .direction {
    margin-right: 10px;
}

#bluecheesecity-speech-carSequence-mouse {
    width: 165px;
    height: 65px;
    top: 350px;
    left: 720px;
}

#bluecheesecity-speech-carSequence-mouse .direction {
    margin-right: 90px;
}

#bluecheesecity-speech-garbageSequence-cat {
    width: 165px;
    height: 65px;
    top: 360px;
    left: 770px;
}

#bluecheesecity-speech-garbageSequence-cat .direction {
    margin-right: 10px;
}

#bluecheesecity-speech-garbageSequence-mouse {
    width: 200px;
    height: 80px;
    top: 350px;
    left: 300px;
}

#bluecheesecity-speech-garbageSequence-mouse .direction {
    margin-right: 10px;
}


/* ===============================================================
Animations
===============================================================
*/


/* Animation: Pigeon
-------------------------------*/
@keyframes bluecheesecity-animation-pigeon {
    0% {
        top: 165px;
    }
    50% {
        top: 100px;
    }
    100% {
        top: 165px;
    }
}


/* Animation: car
-------------------------------*/
@keyframes bluecheesecity-animation-car {
    0% {
        left: 150px;
    }
    25% {
        left: 250px;
    }
    75% {
        left: 200px;
    }
    100% {
        left: 150px;
    }
}


/* Animation: Up and down
-------------------------------*/
@keyframes  animation-upAndDown {
    0% {
        top: 60px;
    }
    50% {
        top: 80px;
    }
    100% {
        top: 60px;
    }
}

@keyframes arrowUpAndDown {
    0% {
        opacity: 1;
        top: -340px;
    }
    50% {
        top: -320px;
    }
    100% {
        opacity: 1;
        top: -340px;
    }
}


/* Animation: Hide speech
-------------------------------*/
@keyframes animation-hide-speech {
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Animation: Sheriff moves
-------------------------------*/
@keyframes parmaville-animation-sheriff1Moves {
    0% {
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(10deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(-10deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

@keyframes parmaville-animation-sheriff2Moves {
    0% {
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(10deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(-10deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

/* Animation: Horse moves
-------------------------------*/
@keyframes parmaville-animation-horseMoves {
    0%{
        left: 600px;
        transform: rotate(0deg);
    }
    10%{
        left: 525px;
        transform: rotate(10deg);
    }
    20%{
        left: 450px;
        transform: rotate(0deg);
    }
    30%{
        left: 375px;
        transform: rotate(10deg);
    }
    40%{
        left: 300px;
        transform: rotate(0deg);
    }
    50%{
        left: 225px;
        transform: rotate(10deg);
    }
    60%{
        left: 150px;
        transform: rotate(0deg);
    }
    70%{
        left: 75px;
        transform: rotate(10deg);
    }
    80%{
        left: 0px;
        transform: rotate(0deg);
    }
    90%{
        left: -75px;
        transform: rotate(10deg);
    }
    100%{
        left: -150px;
        transform: rotate(0deg);
    }
}

/* Animation: Vulture moves
-------------------------------*/
@keyframes parmaville-animation-vultureMoves {
    0%{
        top: 50px;
        left: -100px;
    }
    25%{
        top: 100px;
    }
    50%{
        top: 150px;
    }
    75%{
        top: 100px;
    }
    100%{
        top: 50px;
        left: 1280px;
    }
}

/* Animation: Cheese moves
-------------------------------*/
@keyframes parmaville-animation-cheeseMoves {
    0%{
        bottom: -68px;
        left: 35px;
    }
    100%{
        width: 45px;
        bottom: 364px;
        left: 226px;
    }
}

/* Animation moving metro to first stop - Parmaville */
@keyframes main-animation-metro-first {
    0% {
        transform: scale(0.35);
    }

    20% {
        transform: scale(0.6);
        left: 200px;
        top: 400;
    }

    40% {
        transform: scale(0.8);
        left: 300px;
        top: 600px;
    }

    60% {
        transform: scale(0.9);
        left: 600px;
        top: 400px;
    }

    100% {
        left: 870px;
        top: 170px;
        transform: scale(0.35);
    }
}

/* Animation moving metro to second stop - Blue Cheese City */
@keyframes main-animation-metro-second {
    0% {
        transform: scale(0.35);
    }

    20% {
        transform: scale(0.6);
        left: 200px;
        top: 400;
    }

    40% {
        transform: scale(0.8);
        left: 300px;
        top: 600px;
    }

    60% {
        transform: scale(0.9);
        left: 600px;
        top: 400px;
    }

    100% {
        left: 620px;
        top: 430px;
        transform: scale(0.35);
    }
}

/* Animation moving metro to third stop - Gouda Valley */
@keyframes main-animation-metro-third {
    0% {
        transform: scale(0.35);
    }

    20% {
        transform: scale(0.6);
        left: 200px;
        top: 400;
    }

    40% {
        transform: scale(0.8);
        left: 300px;
        top: 600px;
    }

    60% {
        transform: scale(0.9);
        left: 600px;
        top: 400px;
    }

    100% {
        left: 820px;
        top: 430px;
        transform: scale(0.35);
    }
}

/* Animation moving metro to fourth stop - Cheddar Town */
@keyframes main-animation-metro-fourth {
    0% {
        transform: scale(0.35);
    }

    20% {
        transform: scale(0.6);
        left: 200px;
        top: 400;
    }

    40% {
        transform: scale(0.8);
        left: 300px;
        top: 600px;
    }

    60% {
        transform: scale(0.9);
        left: 600px;
        top: 700px;
    }

    100% {
        left: 940px;
        top: 630px;
        transform: scale(0.35);
    }
}

@keyframes main-animation-metro-last {
    0% {
        transform: scale(0.6);
    }

    20% {
        transform: scale(0.6);
        left: 1500px;
        top: 440px;
    }

    40% {
        transform: scale(0.4);
        left: -300px;
        top: 220px;
    }

    60% {
        transform: scale(0.2);
        left: 1500px;
        top: 330px;
    }

    100% {
        left: 200px;
        top: 630px;
        transform: scale(0);
    }
}

@keyframes anim-shake {

    10%,
    90% {
        transform: translate3d(-1px, -1px, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 2px, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, -4px, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 4px, 0);
    }
}

@keyframes anim-shrink {
    100% {
        transform: scale(0.35);
    }
}


@keyframes anim-bubble-in {
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes anim-bubble-out {
    100% {
        display: none;
    }
}

@keyframes sign-link-visible {
    100% {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes fade-opacity {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

/* ===============================================================
AUDIO
===============================================================
*/

audio {
    background-color: #FFA51E;
    color: #FFA51E;
    width: 88px;
    height: 40px;
    opacity: 0.01;
    z-index: 3;
    position: absolute;
}

audio#hidden1 {
    left: 120px;
    bottom: -3px;
}

audio#hidden2 {
    left: 140px;
    bottom: -3px;
}

audio#hidden3 {
    left: 160px;
    bottom: -3px;
}

audio#hidden4 {
    left: 185px;
    bottom: -3px;
}
