/* ===============================================================
Goudavalley Static
===============================================================
*/

/* Static: Natives
-------------------------------*/
body {
	margin: auto;
}

p, span, button {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

/* Static: Container
-------------------------------*/
.goudavalley-container {
  margin: auto;
  width: 1280px;
  height: 720px;
  position: relative;
  overflow: hidden;
}

.goudavalley-container *{
  position: absolute;
}

/* Static: background
-------------------------------*/
#goudavalley-background {
  width: 1280px;
  height: 720px;
}

/* ===============================================================
Goudavalley NAVIGATION
===============================================================
*/

/* Navigation: Container
-------------------------------*/
.goudavalley-nav-container {
  width: 100%;
  height: 8%;
  background-color: #413746;
  color: #fff;
  border-bottom: 1px solid #bbb;
}

/* Navigation: Buttons
-------------------------------*/
.goudavalley-nav-buttons {
  width: 17%;
  height: 98%;
  margin-top: 0;
  border-right: 1px solid #bbb;
  padding: 1px;
}

.goudavalley-nav-buttons button{
  background-color: #1bb776;
  border: 1px solid #138254; 
  color: #fff; 
  height: 40px;
  width: 100px;
  margin-top: 7px;
  margin-left: 10px;
  font-size: 14px;
  padding: 0;
}

.goudavalley-nav-buttons button span{
  position: relative;
}

.goudavalley-nav-buttons #forward {
  top: 0;
  left: 100px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.goudavalley-nav-buttons #backward {
  top: 0;
  left: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.goudavalley-nav-buttons button:not(:last-child){
  border-right: 0;
}

.goudavalley-nav-buttons button:hover {
  background-color: #148b59;
  border-color: #138254;
}

/* Navigation: Progress
-------------------------------*/
.goudavalley-nav-progress {
  width: auto;
  height: 112%;
  margin-left: 77%;
  margin-top: 0;
  border-left:1px solid #bbb;
  padding-left: 8px;
  margin-top: -7px;
}

.goudavalley-nav-progress img {
  width: 45px;
  margin: 12px;
  padding: 0;
  position: relative;
}

.goudavalley-nav-progress #cheeseWheel {
  width: 40px;
}

.goudavalley-nav-progress-notFound {
  opacity: 0.2;
}

.goudavalley-nav-progress span {
  font-size: 30px;
  margin-top: 11px;
  margin-left: -8px;
  padding: 0; 
}

/* Navigation: Info block
-------------------------------*/
.goudavalley-nav-info {
  width: 57%;
  height: 65%;
  background-color: #FFA51E;
  border: 3px solid #2D2832;
  border-radius: 2px;
  margin-left: 18%;
  margin-top: 0;
  padding: 3px;
  margin-top: 4px;
}

.goudavalley-nav-info p {
  font-size: 12px;
  color: #2D2832;
  margin: 0;
}

/* ===============================================================
GOUDAVALLEY ELEMENTS
===============================================================
*/

/* Element: goudavalley-cheese
-------------------------------*/
.goudavalley-golden-cheese {
    width: 45px;
    top: 420px;
    left: 1050px;
    animation-name: goudavalley-golden-cheese-anim;
}

#cheese-btnStart:checked ~ label .goudavalley-golden-cheese {
  animation-name: goudavalley-rock-cheese;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
/* Element: Goudavalley-tractor
-------------------------------*/
#goudavalley-tractor {
    height: 180px;
    top: 300px;
    left: 300px;
    transform: rotate(350deg);
    animation-name: goudavalley-tractor-crash;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function:none;
}

/* Element: goudavalley-rock
-------------------------------*/
 
#goudavalley-rock {
    height: 80px;
    top: 400px;
    left: 1000px;
}

#goudavalley-speech-rock-mouse {
  width: 120px;
  height: 45px;
  top: 450px;
  left: 350px;
  display: none;
}

#goudavalley-speech-rock-mouse p{
  font-size: 12px;
  margin: 6px;
  color: #2D2832;
}
#btnStart {
  display: none;
}

#btnStart:checked ~ label .goudavalley-rock-class {
  animation-name: goudavalley-rock-cheese;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
#btnStart:checked ~ label .goudavalley-speech-rock {
  display: block;
}


/* Element: goudavalley-sheep
-------------------------------*/
#goudavalley-sheep {
    height: 80px;
    top: 320px;
    left: 150px;
    transition-property: all;
    transition-delay: 0.3s;
    transition-duration: 4s;
}

#goudavalley-sheep:hover {
    top: 400px;
    left:100px;
}

#goudavalley-sheep:hover + #goudavalley-speech-sheep-mouse{
  display: block;
}

#goudavalley-speech-sheep-mouse {
  width: 120px;
  height: 45px;
  top: 380px;
  left: 700px;
  display: none;
}

#goudavalley-speech-sheep-mouse p{
  font-size: 12px;
  margin: 6px;
  color: #2D2832;
}

/* Animation: tractor
-------------------------------*/

@keyframes goudavalley-tractor-crash {
    0% {
        top: 300px;
        left: 300px;
    }
    20% {
        top: 280px;
        left: 400px;
    }
}

/* Animation: rock
-------------------------------*/
@keyframes goudavalley-rock-cheese {
    100%{
    left: 1100px;
    transform: rotate(140deg);
    }
}
/* Animation: cheese
-------------------------------*/
@keyframes anim-pulsating-cheese {
  0%   { box-shadow:0 0 4px  #FFFF00, inset 0 0 4px  #FFFF00; }
  50%  { box-shadow:0 0px 80px #FFFF00, inset 0 0 80px #FFFF00; }
  100% { box-shadow:0 0 4px  #FFFF00, inset 0 0 2px  #FFFF00; }
}

/* Animation: cheese-nav-bar
-------------------------------*/

@keyframes goudavalley-golden-cheese-anim{
    100% {
        opacity: 0;
    }
}