/* ===============================================================
Goudavalley Static
===============================================================
*/

/* Static: Natives
-------------------------------*/
body {
    margin: auto;
}

p, span, button {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

/* Static: Container
-------------------------------*/
.goudavalley-container {
    margin: auto;
    width: 1280px;
    height: 720px;
    position: relative;
    overflow: hidden;
}

.goudavalley-container *{
    position: absolute;
}

/* Static: background
-------------------------------*/
#goudavalley-background {
    width: 1280px;
    height: 720px;
}

/* ===============================================================
Goudavalley NAVIGATION
===============================================================
*/

/* Navigation: Container
-------------------------------*/
.goudavalley-nav-container {
    width: 100%;
    height: 8%;
    background-color: #413746;
    color: #fff;
    border-bottom: 1px solid #bbb;
}

/* Navigation: Container
-------------------------------*/
.goudavalley-nav-container {
    width: 100%;
    height: 8%;
    background-color: #413746;
    color: #fff;
    border-bottom: 1px solid #bbb;
}


/* Navigation: Buttons
-------------------------------*/
.goudavalley-nav-buttons {
    width: 17%;
    height: 98%;
    margin-top: 0;
    border-right: 1px solid #bbb;
    padding: 1px;
}

.goudavalley-nav-buttons input {
    margin-top: 8px;
    margin-left: 10px;
    font-size: 14px;
    padding: 0;
}

.goudavalley-nav-buttons input span {
    position: relative;
}

.goudavalley-nav-buttons #forward {
    top: 0px;
    left: 100px;
    height: 40px;
    width: 90px;
    background-color: #1bb776;
    border: 1px solid #138254;
    color: #fff;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.goudavalley-nav-buttons #forward:hover {
    background-color: #148b59;
    border-color: #138254;
}

.goudavalley-nav-buttons #backward {
    top: 0px;
    left: 10px;
    height: 40px;
    width: 90px;
    background-color: #1bb776;
    border: 1px solid #138254;
    color: #fff;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.goudavalley-nav-buttons #backward:hover {
    background-color: #148b59;
    border-color: #138254;
}

.goudavalley-nav-buttons button:not(:last-child) {
    border-right: 0;
}


/* Navigation: Progress
-------------------------------*/
.goudavalley-nav-progress {
    width: auto;
    height: 112%;
    margin-left: 77%;
    margin-top: 0;
    border-left:1px solid #bbb;
    padding-left: 8px;
    margin-top: -7px;
}

.goudavalley-nav-progress img {
    width: 45px;
    margin: 12px;
    padding: 0;
    position: relative;
}

.goudavalley-nav-progress #cheeseWheel {
    width: 40px;
}

.goudavalley-nav-progress-notFound {
    opacity: 0.2;
}

.goudavalley-nav-progress span {
    font-size: 30px;
    margin-top: 11px;
    margin-left: -8px;
    padding: 0;
}

/* Navigation: Info block
-------------------------------*/
.goudavalley-nav-info {
    width: 57%;
    height: 65%;
    background-color: #FFA51E;
    border: 3px solid #2D2832;
    border-radius: 2px;
    margin-left: 18%;
    margin-top: 0;
    padding: 3px;
    margin-top: 4px;
}

.goudavalley-nav-info p {
    font-size: 12px;
    color: #2D2832;
    margin: 0;
}
/* ===============================================================
GOUDAVALLEY ELEMENTS
===============================================================
*/

/* Element: goudavalley-cheese
-------------------------------*/
.goudavalley-golden-cheese {
    width: 45px;
    top: 420px;
    left: 1050px;
}

#cheese-btnStart:checked ~ label .goudavalley-golden-cheese {
    animation-name: goudavalley-golden-cheese-anim;
    animation-duration: 5s;
    animation-timing-function: none;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#cheese-btnStart {
    opacity: 0;
}
/* Element: Goudavalley-tractor
-------------------------------*/
#goudavalley-tractor {
    height: 180px;
    top: 300px;
    left: 300px;
    transform: rotate(350deg);
    animation-name: goudavalley-tractor-crash;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: none;
}

/* Element: goudavalley-rock
-------------------------------*/


.textbubble {
    width: 200px;
    height: 100px;
    padding: 10px;
    position: absolute;
    background-color: #FFA51E;
    border: 3px solid #2D2832;
    color: #2D2832 font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    word-wrap: break-word;
    text-align: center;
    top: 320px;
    left: 720px;
    opacity: 0;
}

.textbubble .direction {
    transform: scale(-1);
    transform:rotateZ(1deg);
    width: 0;
    height: 0;
    bottom: -17px;
    position: absolute;
    right: 25px;
    margin-right: 130px;
    border: solid 20px rgba(255, 255, 255, 0);
    border-left-color: rgb(255, 165, 30);
}

#goudavalley-rock {
    height: 80px;
    top: 400px;
    left: 1000px;
}

#btnStart {
  display: none;
}

#btnStart:checked ~ label .goudavalley-rock-class {
    animation-name: goudavalley-animation-rock-cheese;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#btnStart:checked ~ label .textbubble {
    animation-name: goudavalley-animation-speech;
    animation-duration: 6s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/* Element: goudavalley-sheep
-------------------------------*/
#goudavalley-sheep {
    height: 80px;
    top: 300px;
    left: 200px;
    animation-name: goudavalley-sheep-anim;
    animation-duration: 3s;
    animation-iteration-count:infinite;
}

#goudavalley-sheep:hover + #sheep-text-bubble {
    display: block;
}

#sheep-text-bubble {
    width: 100px;
    height: 100px;
    padding: 10px;
    position: absolute;
    background-color: #FFA51E;
    border: 3px solid #2D2832;
    color: #2D2832 font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    word-wrap: break-word;
    text-align: center;
    top: 500px;
    left: 370px;
    display: none;
}

#sheep-text-bubble #sheep-direction {
    transform: scale(-1);
    width: 0;
    height: 0;
    bottom: -17px;
    position: absolute;
    left: 60px;
    margin-right: 130px;
    border: solid 20px rgba(255, 255, 255, 0);
    border-left-color: rgb(255, 165, 30);
}

/* Element: goudavalley-sheep
-------------------------------*/




/* Animation: tractor
-------------------------------*/

@keyframes goudavalley-tractor-crash {
    0% {
        top: 300px;
        left: 300px;
    }
    20% {
        top: 280px;
        left: 400px;
    }
}

/* Animation: rock
-------------------------------*/
@keyframes goudavalley-animation-rock-cheese {
    100%{
    left: 1100px;
    transform: rotate(140deg);00
    }
}

@keyframes goudavalley-animation-speech {
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
/* Animation: cheese-nav-bar
-------------------------------*/

@keyframes goudavalley-golden-cheese-anim {
    50% {
        opacity: 0.5;
    }
    100% {
        top: 12px;
        left: 1080px;
        opacity: 1;
    }
}
/* Animation: sheep
-------------------------------*/

@keyframes goudavalley-sheep-anim {
    20% {
        top: 300px;
        left: 200px;
        transform: rotate(0deg);
    }
    50%{
        top: 200px;
        left: 200px;
        transform:rotate(0deg);
    }
    60% {
        top: 200px;
        left:200px;
        transform: rotate(365deg);
    }
    65% {
        top: 200px;
        left:200px;
    }
    90% {
        top: 200px;
        left:200px;
    }
    100% {
        top: 300px;
        left:200px;
    }
}
