/* ===============================================================
Static
===============================================================
*/

/* Static: Natives
-------------------------------*/
p, span, button {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

/* Static: Container
-------------------------------*/
.main-container {
    margin: auto;
    width: 1280px;
    height: 720px;
    position: relative;
    overflow: hidden;
}

.main-container * {
    position: absolute;
}

/* Static: background
-------------------------------*/
#main-background {
    width: 1280px;
    height: 720px;
}


/* Static: cities
-------------------------------*/
.bluecheesecity-sign {
    transform: scale(0.7) translateX(405%) translateY(179%) rotate(20deg);
}

.goudavalley-sign {
    transform: scale(0.7) translateX(550%) translateY(-10%) rotate(-15deg);

    z-index: 1;
}

.cheddartown-sign {
    transform: scale(0.7) translateX(575%) translateY(170%) rotate(-10deg);
}

.parmaville-sign {
    transform: scale(0.7) translateX(680%) translateY(315%) rotate(10deg);
}

.goudavalley-sign,
.cheddartown-sign,
.parmaville-sign {
    opacity: 0.3;

    width: 200px;
    height: 200px;

    position: absolute;
    float: left;

    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

.bluecheesecity-sign {
    opacity: 0.3;

    width: 200px;
    height: 200px;

    position: absolute;
    float: left;

    transition-duration: 1s;
    transition-timing-function: ease-in-out;

    animation: anim-visible-sign 2s linear 0s 1 forwards;

}

.bluecheesecity-sign:hover,
.goudavalley-sign:hover,
.cheddartown-sign:hover,
.parmaville-sign:hover {
    opacity: 1;
}

.bluecheesecity-sign-link {
    transform: scale(0.7) translateX(405%) translateY(179%) rotate(20deg);
    z-index: 2;
}

.goudavalley-sign-link {
    transform: scale(0.7) translateX(550%) translateY(-10%) rotate(-15deg);
}

.cheddartown-sign-link {
    transform: scale(0.7) translateX(575%) translateY(170%) rotate(-10deg);
}

.parmaville-sign-link {
    transform: scale(0.7) translateX(680%) translateY(315%) rotate(10deg);
}

.bluecheesecity-sign-link,
.goudavalley-sign-link,
.cheddartown-sign-link,
.parmaville-sign-link {
    width: 200px;
    height: 200px;

    position: absolute;
    float: left;

    transition-duration: 1s;
    transition-timing-function: ease-in-out;

    display: none;
    opacity: 0;
}

/* cities end
-------------------------------*/

/* ===============================================================
NAVIGATION
===============================================================
*/

/* Navigation: Container
-------------------------------*/
.main-nav-container {
    width: 100%;
    height: 8%;
    background-color: #413746;
    color: #fff;
    border-bottom: 1px solid #bbb;
}

/* Navigation: Progress
-------------------------------*/

.main-nav-progress {
    width: auto;
    height: 112%;
    margin-left: 77%;
    margin-top: 0;
    border-left: 1px solid #bbb;
    padding-left: 8px;
    margin-top: -7px;
}

.main-nav-progress img {
    width: 45px;
    margin: 12px;
    padding: 0;
    position: relative;
}

.main-nav-progress #cheeseWheel {
    width: 40px;
}

.main-nav-progress-notFound {
    opacity: 0.2;
}

.main-nav-progress-Found {
    opacity: 1.0;
    animation: anim-pulsating-cheese 2s linear 0s infinite;
    border-radius: 100px;
}

.main-nav-progress span {
    font-size: 30px;
    margin-top: 11px;
    margin-left: -8px;
    padding: 0;
}

/* Navigation: Info block
-------------------------------*/
.main-nav-info {
    width: 45%;
    height: 65%;
    background-color: #FFA51E;
    border: 3px solid #2D2832;
    border-radius: 2px;
    margin-left: 200px;
    margin-top: 0;
    padding: 3px;
    margin-top: 4px;
}

.main-nav-info p {
    font-size: 12px;
    color: #2D2832;
    margin: 0;
}

/* ===============================================================
ELEMENTS
===============================================================
*/

#main-container {
    background-image: url("../img/main.jpg");
    background-size: cover;
    margin: auto;
    width: 1280px;
    height: 720px;
}

#btnStart:checked ~ label .goudavalley-sign {
    opacity: 1;
}

#btnStart:checked ~ label .sign-glow {
    box-shadow: 5px 5px 5px 5px;
}

#btnStart:checked ~ label .goudavalley-sign-link {
    display: block;
}

#img-metro {
    width: 400px;
}

#img-mouse {
    width: 120px;
    left: 120px;
    bottom: -45px;
}

#metro {
  transform: scale(0.35);
  left: 870px;
  top: 170px;
  position: relative;

  animation:
  anim-shake 0.5s ease-in 1s 10 none,
  anim-metro-second 6s ease-in 5s 1 forwards;
}

/* ===============================================================
ANIMATIONS
===============================================================
*/

@keyframes anim-metro-second {
  0% {
    transform: scale(0.35);
  } 20% {
    transform: scale(0.4);
    left: 200px;
    top: 400px;
  } 40% {
    transform: scale(0.5);
    left: 300px;
    top: 600px;
  } 60% {
    transform: scale(0.4);
    left: 600px;
    top: 400px;
  } 100% {
    left: 610px;
    top: 445px;
    transform: scale(0.35);
  }
}

@keyframes anim-pulsating-cheese {
  0% {
    box-shadow: 0 0 4px #FFFF00, inset 0 0 4px #FFFF00;
  } 50% {
    box-shadow: 0 0px 80px #FFFF00, inset 0 0 80px #FFFF00;
  } 100% {
    box-shadow: 0 0 4px #FFFF00, inset 0 0 2px #FFFF00;
  }
}


@keyframes anim-shake {
  10%,90% {
    transform: translate3d(-1px, -1px, 0);
  } 20%,80% {
    transform: translate3d(2px, 2px, 0);
  } 30%,50%,70% {
    transform: translate3d(-4px, -4px, 0);
  } 40%,60% {
    transform: translate3d(4px, 4px, 0);
    }
}

@keyframes anim-shrink {
  100% {
    transform: scale(0.35);
  }
}


@keyframes anim-bubble-in {
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes anim-bubble-out {
  100% {
    display: none;
  }
}

@keyframes anim-visible-sign {
  100% {
    opacity: 1;
  }
}