
/* PARMAVILLE */

#parmaville-body {
    margin: 0;
}

#parmaville-container {
    background-image: url(../img/parmaville.jpg);
    background-size: cover;
    margin: 0;
    position: relative;
    width: 100vw;
    height: 100vh;
}

#parmaville-container * {
    position: absolute;
}


