
/* PARMAVILLE */

#parmaville-body {
    margin: auto;
}

#parmaville-container {
    margin: auto;
    background-color: red;
    width: 1280px;
    height: 720px;
    position: relative;
    overflow: hidden;
}

#parmaville-container * {
    position: absolute;
}

#parmaville-background {
    width: 1280px;
    height: 720px;
}

#parmaville-controlpanel {
    width: 1280px;
    bottom: -100px;
    
}

#parmaville-sheriff {
    width: 100px;
}

#parmaville-stoneWell {
    width: 100px;
}

#parmaville-cactus {
    width: 100px;
}



