.bluecheesecity-container {
  
}

.bluecheesecity-background {
  background-image: url(../img/bluecheesecity.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: 0;
  
}

/*.bluecheesecity-nav ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: #413746;
}

.bluecheesecity-nav li.left {
  float: left;
  border-right:1px solid #bbb;
}

.bluecheesecity-nav li.right {
  float: right;
}

#bluecheesecity-border {
  border-left:1px solid #bbb;
}

#bluecheesecity-cheeseWheel {
  width: 40px;
}

.bluecheesecity-notFound {
  opacity: 0.2;
}

.bluecheesecity-nav li img{
  width: 55px;
  margin: 0;
  padding: 0;
}

.bluecheesecity-nav li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 8px;
  text-decoration: none;
  font-size: 35px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.bluecheesecity-nav li a:hover {
something 
}*/

.bluecheesecity-nav-container {
  width: 100%;
  height: 8%;
  background-color: #413746;
  color: #fff;
  opacity: 0.9;
}

.bluecheesecity-nav-container p {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.bluecheesecity-nav-buttons {
  width: 15%;
  background-color: green;
  position: absolute;
}

.bluecheesecity-nav-buttons button{
  width: 100px;
  height: 40px;
  margin: 0;
  padding: 0;
}

.bluecheesecity-nav-progress {
  width: auto;
  margin-left: 78%;
  margin-top: 0;
  position: absolute;
}

.bluecheesecity-nav-progress img {
  width: 55px;
  margin: 0;
  padding: 0;
}

.bluecheesecity-nav-progress #cheeseWheel {
  width: 40px;
}

.bluecheesecity-nav-progress-notFound {
  opacity: 0.2;
}

.bluecheesecity-nav-progress span {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 40px;
  margin: 3px;
  padding: 0;
  
}

.bluecheesecity-nav-info {
  width: 40%;
  background-color: dodgerblue;
  margin-left: 20%;
  margin-top: 0;
  position: absolute;
}

.bluecheesecity-footer {

}