/* ===============================================================
Static
===============================================================
*/


/* Static: Natives
-------------------------------*/
body {
    margin: auto;
}

p,
span,
input {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

/* Static: Container
-------------------------------*/
.bluecheesecity-container {
    margin: auto;
    width: 1280px;
    height: 720px;
    position: relative;
    overflow: hidden;
}

.bluecheesecity-container * {
    position: absolute;
}


/* Static: background
-------------------------------*/
#bluecheesecity-background {
    width: 1280px;
    height: 720px;
}


/* Static: fonts
-------------------------------*/
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
}

/* ===============================================================
NAVIGATION
===============================================================
*/


/* Navigation: Container
-------------------------------*/
.bluecheesecity-nav-container {
    width: 100%;
    height: 8%;
    background-color: #413746;
    color: #fff;
    border-bottom: 1px solid #bbb;
}


/* Navigation: Buttons
-------------------------------*/
.bluecheesecity-nav-buttons {
    width: 17%;
    height: 98%;
    margin-top: 0;
    border-right: 1px solid #bbb;
    padding: 1px;
}

.bluecheesecity-nav-buttons input {
    margin-top: 8px;
    margin-left: 10px;
    font-size: 14px;
    padding: 0;
}

.bluecheesecity-nav-buttons input span {
    position: relative;
}

.bluecheesecity-nav-buttons #forward {
    top: 0px;
    left: 100px;
    height: 40px;
    width: 90px;
    background-color: #1bb776;
    border: 1px solid #138254;
    color: #fff;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.bluecheesecity-nav-buttons #forward:hover {
    background-color: #148b59;
    border-color: #138254;
}

.bluecheesecity-nav-buttons #backward {
    top: 0px;
    left: 10px;
    height: 40px;
    width: 90px;
    background-color: #1bb776;
    border: 1px solid #138254;
    color: #fff;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.bluecheesecity-nav-buttons #backward:hover {
    background-color: #148b59;
    border-color: #138254;
}

.bluecheesecity-nav-buttons button:not(:last-child) {
    border-right: 0;
}

/* Navigation: Progress
-------------------------------*/
.bluecheesecity-nav-progress {
    width: auto;
    height: 112%;
    margin-left: 77%;
    margin-top: 0;
    border-left: 1px solid #bbb;
    padding-left: 8px;
    margin-top: -7px;
}

.bluecheesecity-nav-progress img {
    width: 45px;
    margin: 12px;
    padding: 0;
    position: relative;
}

.bluecheesecity-nav-progress #cheeseWheel {
    width: 40px;
}

.bluecheesecity-nav-progress-notFound {
    opacity: 0.2;
}

.bluecheesecity-nav-progress span {
    font-size: 30px;
    margin-top: 11px;
    margin-left: -8px;
    padding: 0;
}


/* Navigation: Info block
-------------------------------*/
.bluecheesecity-nav-info {
    width: 57%;
    height: 65%;
    background-color: #FFA51E;
    border: 3px solid #2D2832;
    border-radius: 2px;
    margin-left: 18%;
    margin-top: 0;
    padding: 3px;
    margin-top: 4px;
}

.bluecheesecity-nav-info p {
    font-size: 12px;
    color: #2D2832;
    margin: 0;
}


/* ===============================================================
ELEMENTS
===============================================================
*/


/* Element: Pigeon
-------------------------------*/
#bluecheesecity-element-pigeon {
    width: 50px;
    left: 190px;
    top: 165px;
}

#bluecheesecity-element-pigeon:hover {
    animation-name: bluecheesecity-animation-pigeon;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
}

#bluecheesecity-element-pigeon:hover+#bluecheesecity-speech-pigeonSequence-mouse {
    animation-name: animation-hide-speech;
    animation-duration: 6s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/* Element: Car
-------------------------------*/
.bluecheesecity-carSequence-hidden {
    display: none;
}

#bluecheesecity-element-car {
    width: 250px;
    left: 150px;
    top: 405px
}

#bluecheesecity-element-car:hover {
    animation-name: bluecheesecity-animation-car;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
}

#bluecheesecity-element-car:hover~#bluecheesecity-speech-carSequence-car {
    animation-name: animation-hide-speech;
    animation-duration: 6s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#bluecheesecity-element-car:hover~#bluecheesecity-speech-carSequence-mouse {
    animation-name: animation-hide-speech;
    animation-duration: 6s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


/* Element: Garbage
-------------------------------*/
#bluecheesecity-element-garbageBin {
    width: 75px;
    left: 970px;
    top: 440px
}

#bluecheesecity-element-garbageBin:hover~#bluecheesecity-speech-garbageSequence-cat {
    animation-name: animation-hide-speech;
    animation-duration: 6s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#bluecheesecity-element-garbageBin:hover~#bluecheesecity-speech-garbageSequence-mouse {
    animation-name: animation-hide-speech;
    animation-duration: 6s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#bluecheesecity-element-garbageBin:hover~.bluecheesecity-carSequence-hidden {
    display: block;
}


/* Element: Cat
-------------------------------*/
#bluecheesecity-element-cat {
    width: 70px;
    left: 930px;
    top: 430px;
}


/* Element: Rat Poison
-------------------------------*/
#bluecheesecity-element-ratPoison {
    width: 30px;
    left: 200px;
    top: 465px;
    transform: rotate(20deg);
}


/* Element: Arrow
-------------------------------*/
#bluecheesecity-element-arrow {
    width: 40px;
    top: 60px;
    left: 130px;
    animation-name: bluecheesecity-animation-upAndDown;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}


/* ===============================================================
Speech
===============================================================
*/
.textbubble {
    padding: 5px;
    opacity: 0;
    background-color: #FFA51E;
    border: 3px solid #2D2832;
    font-size: 16px;
    text-align: center;
}

.textbubble .direction {
    width: 0;
    height: 0;
    bottom: -17px;
    right: 25px;
    border: solid 20px rgba(255, 255, 255, 0);
    border-left-color: rgb(255, 165, 30);
}

.left {
    transform: scaleX(-1);
}

#bluecheesecity-speech-pigeonSequence-mouse {
    width: 160px;
    height: 50px;
    top: 350px;
    left: 720px;
}

#bluecheesecity-speech-pigeonSequence-mouse .direction {
    margin-right: 100px;
}

#bluecheesecity-speech-carSequence-car {
    width: 165px;
    height: 60px;
    top: 330px;
    left: 50px;
}

#bluecheesecity-speech-carSequence-car .direction {
    margin-right: 10px;
}

#bluecheesecity-speech-carSequence-mouse {
    width: 165px;
    height: 65px;
    top: 350px;
    left: 720px;
}

#bluecheesecity-speech-carSequence-mouse .direction {
    margin-right: 90px;
}

#bluecheesecity-speech-garbageSequence-cat {
    width: 165px;
    height: 65px;
    top: 360px;
    left: 770px;
}

#bluecheesecity-speech-garbageSequence-cat .direction {
    margin-right: 10px;
}

#bluecheesecity-speech-garbageSequence-mouse {
    width: 200px;
    height: 80px;
    top: 350px;
    left: 300px;
}

#bluecheesecity-speech-garbageSequence-mouse .direction {
    margin-right: 10px;
}


/* ===============================================================
Animations
===============================================================
*/


/* Animation: Pigeon
-------------------------------*/
@keyframes bluecheesecity-animation-pigeon {
    0% {
        top: 165px;
    }
    50% {
        top: 100px;
    }
    100% {
        top: 165px;
    }
}


/* Animation: car
-------------------------------*/
@keyframes bluecheesecity-animation-car {
    0% {
        left: 150px;
    }
    25% {
        left: 250px;
    }
    75% {
        left: 200px;
    }
    100% {
        left: 150px;
    }
}


/* Animation: Up and down
-------------------------------*/
@keyframes bluecheesecity-animation-upAndDown {
    0% {
        top: 60px;
    }
    50% {
        top: 80px;
    }
    100% {
        top: 60px;
    }
}


/* Animation: Hide speech
-------------------------------*/
@keyframes animation-hide-speech {
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}